/* Header text*/
span.css-10trblm.e16nr0p30 {
    color: #003264;
}

/* Metric label*/
div.css-1xarl3l.e16fv1kl1 {
    color: #003264;
}

/* Logo*/
div.css-1v0mbdj {
    height: 200px;
    width: 500px;
}

